input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: inherit;
	border-bottom: 1px solid $color__border-input;
	padding: 3px;
	width: 100%;
	&:focus {
		color: $color__text-input-focus;
		outline: inherit;
		border-bottom-width: 6px;
		border-image: $gradient;
		border-image-slice: 1;
	}
	&:focus + .wpcf7-not-valid-tip {
display: none;}
}
input[aria-invalid='true'],
textarea[aria-invalid='true']{
  border-color: $alert;
}

label {
	color: $color__text-input;
		width: 100%;
}
label.active {
	  		color: $color__text-input-focus;
			font-weight: 700;
}

select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}
